/* GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background-color: #fafafa;
}

/* CONTAINERS */
#main-container {
    display: flex;
    margin-top: 30px;
}

#banner-container,
#form-container {
    flex: 1 1 0;
    width: 50%;
}

#banner-container {
    text-align: right;
}

#banner-container img {
    width: 100%;
    margin-right: 15px;
    margin-top: 25px;
    max-width: 380px;
}

#form-container {
    text-align: center;
}

/* LOGIN FORM */
#form-box {
    background-color: #FFF;
    border: 1px solid #dbdbdb;
    width: 350px;
    margin-top: 30px;
}

#logo-insta {
    width: 175px;
    height: 51px;
    margin: 30px auto 12px;
}

#login-form {
    margin-top: 20px;
}

#login-form input {
    display: block;
    font-size: 12px;
    padding: 12px 9px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    width: 268px;
    margin: 5px auto;
}

#login-form input[type="submit"] {
    background-color: #B2DFFC;
    color: #FFF;
    margin-top: 15px;
    border-radius: 5px;
    height: 30px;
    font-size: 13px;
    padding: 0;
    font-weight: bold;
}

/* SEPARADOR */
.separator {
   position: relative
}

.line {
    border-top: 1px solid #DBDBDB;
    width: 268px;
    margin: 25px auto 35px;
}


.separator span {
    position: absolute;
    text-transform: uppercase;
    color: #bbb;
    background-color: #FFF;
    top: -6px;
    width: 50px;
    margin-left: -25px;
    font-size: 14px;
}

/* FACEBOOK LOGIN */
#facebook-login {
    margin-bottom: 25px;
}

#facebook-login a {
    text-decoration: none;
    color: #385185;
    display: flex;
    align-items: center;
    justify-content: center;
}

#facebook-login img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

#facebook-login span {
    font-weight: bold;
    font-size: 13px;
    margin-top: 1px;
}

/* FORGOT PASSWORD */
#forgot-pass {
    margin-bottom: 20px;
    font-size: 12px;
}

#forgot-pass a {
    text-decoration: none;
    color: #373799;
}

/* REGISTER */
#register-container {
    background-color: #FFF;
    border: 1px solid #DBDBDB;
    width: 350px;
    margin-top: 10px;
    padding: 25px;
}

#register-container p {
    font-size: 14px;
    color: #262626;
}

#register-container a {
    color: #4a95f6;
    font-weight: bold;
    text-decoration: none;
}

/* GET APP */
#get-app-container {
    text-align: center;
    width: 350px;
}

#get-app-container p {
    margin: 20px 0;
    font-size: 13px;
}

#get-app-container a {
    text-decoration: none;
}

#get-app-container img {
    width: 136px;
    height: 40px;
}







/* REGISTER PAGE */

/* CONTAINERS */
#register-main-container {
    margin: 800px;
    margin-top: 30px;
}

#register-form-container {
    flex: 1 1 0;
    width: 50%;
}

#register-form-container {
    text-align: center;
}

/* LOGIN FORM */
#register-form-box {
    background-color: #FFF;
    border: 1px solid #dbdbdb;
    width: 350px;
    margin-top: 30px;
}

#logo-insta {
    width: 175px;
    height: 51px;
    margin: 30px auto 12px;
}

#register-form {
    margin-top: 20px;
}

#register-form input {
    display: block;
    font-size: 12px;
    padding: 12px 9px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    width: 268px;
    margin: 5px auto;
}

#register-form input[type="submit"] {
    background-color: #B2DFFC;
    color: #FFF;
    margin-top: 15px;
    border-radius: 5px;
    height: 30px;
    font-size: 13px;
    padding: 0;
    font-weight: bold;
}

/* SEPARADOR */
.separator {
   position: relative
}

.line {
    border-top: 1px solid #DBDBDB;
    width: 268px;
    margin: 25px auto 35px;
}


.separator span {
    position: absolute;
    text-transform: uppercase;
    color: #bbb;
    background-color: #FFF;
    top: -6px;
    width: 50px;
    margin-left: -25px;
    font-size: 14px;
}

/* FACEBOOK LOGIN */
#facebook-login-register {
    margin: 0px 0px 25px 0px;
}

#facebook-login-register a {
    display: flex;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 38px;
    background-color: #479dff;
    width: 270px;
    height: 30px;
    border-radius: 5px;
}

#facebook-login-register img {
    width: 13px;
    height: 13px;
    margin-right: 8px;
}

#facebook-login-register span {
    font-weight: bold;
    font-size: 12px;
    margin-top: 1px;
}

/* FORGOT PASSWORD */
#terms-of-use {
    margin: 20px 15px;
    font-size: 12px;
    color: #5e5e5e;
}

#terms-of-use span {
    font-weight: bold;
    color: #5e5e5e;
}

/* REGISTER */
#already-login-container {
    background-color: #FFF;
    border: 1px solid #DBDBDB;
    width: 350px;
    margin-top: 10px;
    padding: 25px;
}

#already-login-container p {
    font-size: 14px;
    color: #262626;
}

#already-login-container a {
    color: #4a95f6;
    font-weight: bold;
    text-decoration: none;
}

/* GET APP */
#get-app-container {
    text-align: center;
    width: 350px;
}

#get-app-container p {
    margin: 20px 0;
    font-size: 13px;
}

#get-app-container a {
    text-decoration: none;
}

#get-app-container img {
    width: 136px;
    height: 40px;
}





/* FOOTER */
footer {
    text-align: left;
    width: 1000px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer #footer-links {
    display: flex;
    list-style: none;
}

#footer-links li {
    margin-right: 10px;
}

#footer-links a,
#copyright {
    text-decoration: none;
    color: #8e8e8e;
    font-size: 12px;
}

#copyright {
    margin-top: 10px;
}





/* RESPONSIVITY */

@media(max-width: 770px) {
    body {
        background-color: #fff;
    }

    #banner-container {
        display: none;
    }

    #main-container,
    #form-box {
        margin-top: 0;
    }

    #form-container,
    #form-box,
    #register-cotnainer,
    #get-app-container {
       width: 100%;
       border: none; 
    }

    #register-container {
        margin-left: 207px;
    }

    footer {
        width: 90%;
    }

    #footer-links {
        flex-wrap: wrap;
        justify-content: center;
    }

    #footer-links {
        margin-bottom: 10px;
    }
}

@media(max-width: 450px) {

    body {
        background-color: #fff;
    }

    #banner-container {
        display: none;
    }

    #main-container,
    #form-box {
        margin-top: 0;
    }

    #form-container,
    #form-box,
    #register-cotnainer,
    #get-app-container {
       width: 100%;
       border: none; 
    }

    #register-container {
        margin-left: 33px;
    }

    footer {
        width: 90%;
    }

    #footer-links {
        flex-wrap: wrap;
        justify-content: center;
    }

    #footer-links {
        margin-bottom: 10px;
    }
}

@media(max-width: 430px) {
    #register-container {
        margin-left: 40px;
    }
} 

@media(max-width: 414px) {
    #register-container {
        margin-left: 32px;
    }
} 

@media(max-width: 412px) {
    #register-container {
        margin-left: 32px;
    }
} 

@media(max-width: 400px) {
    #register-container {
        margin-left: 20px;
    }
} 

@media(max-width: 375px) {
    #register-container {
        margin-left: 13px;
    }
} 

@media(max-width: 360px) {
    #register-container {
        margin-left: 18px;
        width: 90%;
    }
} 

@media(max-width: 280px) {
    #register-container {
        margin-left: 15px;
    }
} 




/* HOME INSTAGRAM */
#navbar {
    width: 320px;
    height: 790px;
    background-color: #FFF;
    border-right: 1px solid #DDD;
}

 #navbar-inner ul {
    list-style: none;
} 

#navbar-inner a {
    text-decoration: none;
    color: #0a0a0a;
}

#navbar-inner li {
    display: flex;
    margin-bottom: 10px;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    font-weight: bold;
}

#navbar-inner li:hover {
    cursor: pointer;
    transition: 0.4s;
    background-color: #DBDBDB;
}

#navbar-inner {
    padding: .7rem;
    background-color: #ffffff;
}

#navbar-inner form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#navbar-inner input {
    padding: 1rem 1rem;
    border: 1px solid #DDD;
}





 #navbar-inner-2 ul {
    list-style: none;
} 

#navbar-inner-2 a {
    text-decoration: none;
    color: #0a0a0a;
}

#navbar-inner-2 li {
    display: flex;
    margin-bottom: 10px;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    font-weight: bold;
}

#navbar-inner-2 li:hover {
    cursor: pointer;
    transition: 0.4s;
    background-color: #DBDBDB;
}

#navbar-inner-2 {
    margin-top: 160px;
    padding: .7rem;
    height: 150px;
    background-color: #FFF;
    border-right: 1px solid #DDD;
}

#navbar-inner-2 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#navbar-inner-2 input {
    padding: 1rem 1rem;
    border: 1px solid #DDD;
}

.logo {
    margin: 30px 0px 30px 10px;
    width: 100px;

}

#nav-links img {
    width: 25px;
    margin: -5px 15px 0 0;
}






